* {
    font-family: sans-serif;
}

/* buttons design */
button[type=button] {
    border: none;
    border-radius: 4px;
    padding: 8px 20px 8px 20px;
    color: white;
    background-color:  #0066ff;
    transition: 0.5s;
    box-sizing: border-box;
}

button[type=button]:hover {
    background-color: #005ce6;
}

img {
    width: 100px;
    height: 100px;
    animation-name: roll;
    animation-duration: 1.5s;
}

