* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f6f8 !important;
}

/* inputs */
.inputs_container {
    width: 100%;
    min-height: 100vh;
    align-content: center;
    box-sizing: border-box;
}

.inputs_div {
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 40px 25px 40px 25px;
    background: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.input_button {
    padding: 8px 0px 8px 0px !important;
}

/* header */
.navbar {
    background: white !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/* post design */
.post_container {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    padding: 20px;
}

.card-post {
    background-color: white;
    border-bottom: 1px solid #f0f0f0 !important;
    transition: all 0.2s ease;
}

.card-post:hover {
    background-color: #f9fbfe;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    transform: translateY(-2px);
}

.profile-link {
    text-decoration: none;
    font-weight: 600;
    font-size: .95rem;
    line-height: 1rem;
    color: #333d42;
    white-space: nowrap;
}

.profile-link:hover {
    color: #115bca;
}

.post-date {
    color: #5c6c74;
    font-size: .95rem;
    line-height: 1rem;
    white-space: nowrap;
}

/* comment design */
.input-comment {
    padding: 10px 10px 5px 10px;
}

.comment-content {
    padding: 0px 0px 0px 50px;
}

.comment-button, .password-button {
    border: none;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color:  #43494d;
    box-sizing: border-box;
}
.comment-button:hover, .password-button:hover {
    background-color: #32373a;
}
.comment-button:active, .password-button:active {
    background-color: #212527;
}

.comment-link {
    text-decoration: none;
    padding: 4px 13px 4px 13px;
    background-color: #e5ebee;
}
.comment-link:hover {
    background-color: #dbe4e9;
}
.comment-link:active {
    background-color: #c9d7de;
}

.return-button {
    text-decoration: none;
    display: block;
    padding: 4px 6px 4px 6px;
    background-color: #e5ebee;
}
.return-button:hover {
    background-color: #dbe4e9;
}
.return-button:active {
    background-color: #c9d7de;
}

/* hr */
.hr-design {
    margin: 6px auto 6px auto;
}

/* dot */
.dot {
    display: inline-block;
    color: #5c6c74;
}

/* not or is link element */
.not-link {
    pointer-events: none;
}

.is-link {
    pointer-events: auto;
}

/* profile */
.img_name-div {
    padding: 20px 10px 20px 10px;
}

.general-info, .security-info {
    padding: 15px 15px 15px 15px;
}

.info-div {
    padding: 5px 10px 5px 10px;
}

/* container conflict header rectification */
.div-container {
    margin-top: 80px;
}

/* header */
.header-link {
    text-decoration: none;
    display: block;
    padding: 4px 4px 4px 4px;
    background-color: white;
}
.header-link:hover {
    background-color: #dbe4e9;
}
.header-link:active {
    background-color: #c9d7de;
}

/* create post */
.border-dotted {
    border: 2px dotted #00000033;
}

/* dropdown focus (show) */
.custom-btn:focus {
    background-color: #dbe4e9;
}

.custom-btn:focus:not(:focus-visible) {
    outline: none;
}

/* user management */
.table>:not(caption)>*>* {
    padding: 15px !important;
}
.table tbody tr:last-child td,
.table tbody tr:last-child th {
    border-bottom: none;
}

.nav-link {
    color: #5c6c74 !important;
}
.nav-link:hover {
    color: black !important;
    border-bottom-color: #0d6efd !important;
}
.nav-link.active {
    color: black !important;
    border-bottom-color: #0d6efd !important;
}

/* offcanvas navbar  */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 70px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}
